<div class="row">
	<h2>Posts waiting for your approval</h2>
</div>
<div class="company-list">
	<table class="table table-hover">
		<thead class="table-headers">
			<th>Company</th>
			<th>Industry</th>
			<th>Location</th>
			<th>Salary</th>
			<th>Upvotes</th>
		</thead>
		<tbody>
			<% @articles.each do |a| %>
				<tr>
					<td class="articlecompany">
						<%= link_to "#{a.company}", admin_article_path(a), :class => "articlecompany" %>
					</td>
					<td class="articleindustry">
						<%= a.industry_type %>
					</td>
					<td class="articlelocation">
						<%= a.city %>, <%= a.state %>
					</td>
					<td class="articlecompensation">
						<%= number_to_currency(a.compensation) %>
					</td>
					<td class="articleupvotes">
						<%= a.upvotes %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>
<nav aria-label="Pagination">
	<ul class="pagination justify-content-center"> 
		<%= will_paginate @articles %>
	</ul>
</nav> 

