<div class="row">
    <div class="col-md">
      <h4 class="approvepage"> Posts waiting for your approval </h4>
    </div>
</div>
<!--Back to main page-->
<div class="text-right mr-4">
    <%= link_to articles_path, :class =>"text-decoration-none" do %>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back to main page
    <% end %>      
</div>
<div class="company-list">
	<table class="table table-hover">
		<thead class="table-headers">
			<th>Company</th>
			<th>Industry</th>
			<th>Location</th>
			<th>Salary</th>
			<th>Upvotes</th>
		</thead>
		<tbody>
			<% @articles.each do |a| %>
				<tr>
					<td class="articlecompany">
						<%= link_to "#{a.company}", admin_article_path(a), :class => "articlecompany" %>
					</td>
					<td class="articleindustry">
						<%= a.industry_type %>
					</td>
					<td class="articlelocation">
						<%= a.city %>, <%= a.state %>
					</td>
					<td class="articlecompensation">
						<%= number_to_currency(a.compensation) %>
					</td>
					<td class="articleupvotes">
						<%= a.upvotes %>
					</td>
					
				</tr>
			<% end %>
		</tbody>
	</table>

</div>
<nav aria-label="Pagination">
	<ul class="pagination justify-content-center"> 
		<%= will_paginate @articles %>
	</ul>
</nav> 

