<div class="close_industry">+</div>
		Please select industry type
		<%= form_with(id: :submit_industry, url: articles_path, method: 'get') do |f| %>
			<div class="form-group">
				<%= f.label :industry_type, "Industry Type:", class: "col-md-4 control-label" %>
				<div class="col-md-10">
					<% if select_industry %>
						<%= f.select :industry_type, options_for_select(select_industry), {:prompt => "Select industry"}, {class: "form-control"}%>
					<% else %>
						<%= f.select :industry_type, options_for_select([]), {:prompt => "Select industry"}, {class: "form-control_empty"}%>
					<% end %>
				</div>
			</div>
			
			<span style="margin-left: 30%">
				<%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
			</span>
		<% end %>