<div class="invisible">
<% if select_location && select_location.length == 2 %>
	<%= select_states = select_location[0] %>
	<%= select_city = select_location[1] %>
<% end %>
</div>

<div class="close_location">+</div>
		Please select state and city
		<%= form_with(id: :submit_location, method: 'get', url: articles_path) do |f| %>
			<div class="form-group">
				<%= f.label :state, "State:", class: "col-md-4 control-label" %>
				<div class="col-md-10">
					<% if select_states %>
						<%= f.select :state, options_for_select(select_states), {:prompt => "Select state"}, {class: "form-control_state"}%>
					<% else %>
						<%= f.select :state, options_for_select([]), {:prompt => "Select state"}, {class: "form-control_empty"}%>
					<% end %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :city, "City:", class: "col-md-4 control-label" %>
				<div class="col-md-10">
					<% if select_city %>
						<%= f.select :city, options_for_select(select_city), {:prompt => "Select city"}, {class: "form-control_city"}%>
					<% else %>
						<%= f.select :city, options_for_select([]), {:prompt => "Select city"}, {class: "form-control_empty"}%>
					<% end %>
				</div>
			</div>
			
			<span style="margin-left: 30%">
				<%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
			</span>
		<% end %>