<link rel="stylesheet" type="text/scss" href="articles.scss">

<div class="invisible">
<%= @articles = @arr[1] %>
<%= @most_active_user = @arr[0] %>
</div>

<nav class="row">
	<ul class="col-md-1 offset-md-1" id="filter"> <a href="#">Filter</a>
		<ul>
			<li> <a href="">company</a></li>
			<li> <a href="">industry</a></li>
			<li> <a href="">location</a></li>
			<li> <a href="">salary</a></li>
		</ul>
	</ul>
	<% if admin_signed_in? %>
		<ul class="col-md-2 offset-md-1">
			<%= link_to "Approve posts", admin_articles_path, :class => "btn btn-primary" %>
		</ul>
		<ul class="col-md-2 offset-md-3">
			<%= link_to "Look at feedbacks", admin_feedbacks_path, :class=> "btn btn-primary" %>   	
		</ul>	
	<% end %>
	<% if user_signed_in? %>
		<ul class = "col-md-2 offset-md-4">
			<%= link_to "Submit feedback", feedbacks_path, :class => "btn btn-primary" %>
		</ul>
	<% end %>

</nav>



<div class = "row">
	<div class = "col-md-2 offset-md-6">
		<% if @most_active_user.show_profile %> 
		      Most active user is: <%= link_to "#{@most_active_user.displayname}", profile_path(@most_active_user) %>
      		<% else %>
	      	     Most active user is: <%= "#{@most_active_user.displayname}" %>
      		<% end %>

	</div> 
	<% if user_signed_in? %>	
		<div class="col-md-2 offset-md-10">
			<%= link_to "+ Add Post", new_article_path, :class => "btn btn-primary" %>
		</div>
	<% end %>
</div>
<div class="company-list">
	<table class="table table-hover">
		<thead class="table-headers">
			<th> <%= link_to("Company", articles_path(query: "company"))%> </th>
			<th> <%= link_to("Industry", articles_path(query: "industy"))%> </th>
			<th> <%= link_to("Location", articles_path(query: "location"))%> </th>
			<th> <%= link_to("Salary", articles_path(query: "salary"))%> </th>
			<th> <%= link_to("Upvotes", articles_path(query: "upvotes"))%> </th>
		</thead>
		<tbody>
			<% @articles.each do |a| %>
				<tr>
					<td class="articlecompany">
						<%= link_to "#{a.company}", article_path(a), :class => "articlecompany" %>
					</td>
					<td class="articleindustry">
						<%= a.industry_type %>
					</td>
					<td class="articlelocation">
						<%= a.city %>, <%= a.state %>
					</td>
					<td class="articlecompensation">
						<%= number_to_currency(a.compensation) %>
					</td>
					<td class="articleupvotes">
						<%= a.upvotes %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>

<!-- pop up window -->
<nav>
<div class="salary_filter">
	<div class="salary_filter_content">
		<div class="close">+</div>
		Please fill in the range of salary you are looking for
		<form action="">
			<input type="text" placeholder="lower salary range">
			<input type="text" placeholder="upper salary range">
			<a href="" class="filter_submit"> Submit </a>
		</form>
	</div>
</div>
</nav>

<nav aria-label="Pagination">
	<ul class="pagination justify-content-center"> 
		<%= will_paginate @articles %>
	</ul>
</nav> 

