<div class="invisible">

	<%= @articles = @arr[1] %>
	<%= @most_active_user = @arr[0] %>
	<%= @select = @arr[2] %>

</div>

<nav class="row">
	<ul class="col-md-2 offset-md-0">
		<button class="btn btn-primary">Filter></button>
		<!--%= link_to("Filter", articles_path, class: "btn btn-primary") %-->
		<ul>
			<li> <%= button_to "Commpany", articles_path, id: "company", class: "btn btn-primary", remote: true %></li>
			<li> <%= button_to "Industry type", articles_path, id: "industry_type", class: "btn btn-primary", remote: true %></li>
			<li> <%= button_to "Location", articles_path, id: "location", class: "btn btn-primary", remote: true %></li>
			<li> <%= button_to "Salary", articles_path, id: "salary", class: "btn btn-primary", remote: true %></li>
		</ul>
	</ul>
	<% if user_signed_in? && current_user.isAdmin %>
		<ul class="col-md-2 offset-md-1">
			<%= link_to "Approve posts", admin_articles_path, :class => "btn btn-primary" %>
		</ul>
		<ul class="col-md-2 offset-md-3">
			<%= link_to "Look at feedbacks", admin_feedbacks_path, :class=> "btn btn-primary" %>   	
		</ul>	
	<% end %>
	<ul class = "col-md-2 offset-md-4">
		<%= link_to "Submit feedback", feedbacks_path, :class => "btn btn-primary" %>
	</ul>

</nav>

<div class = "row">
	<div class = "col-md-2 offset-md-6">

		<% if !@most_active_user.blank? %> 
			<% if @most_active_user.show_profile %> 
				Most active user is: <%= link_to "#{@most_active_user.displayname}", profile_path(@most_active_user) %>
		<% else %>
			Most active user is: <%= "#{@most_active_user.displayname}" %>
	<% end %>
<% end %>
	</div> 
	<div class="col-md-2 offset-md-10">
		<%= link_to "+ Add Post", new_article_path, :class => "btn btn-primary" %>
	</div>
</div>

<div class="company-list">
	<%= render 'articles', articles: @articles %>
</div>



<!-- pop up windows for filters -->
<nav>
	<div class="company_filter">
		<div class="company_filter_content">
			<%= render 'select_company', select_company: @select %>
		</div>
	</div>

	<div class="industry_filter">
		<div class="industry_filter_content">
			<%= render 'select_industry', select_industry: @select %>
		</div>
	</div>

	<div class="location_filter">
		<div class="location_filter_content">
			<%= render 'select_location', select_location: @select %>
		</div>
	</div>


	<div class="salary_filter">
		<div class="salary_filter_content">
			<%= render 'salary' %>
		</div>
	</div>
</nav>

<nav aria-label="Pagination">
	<ul class="pagination"> 
		<%= will_paginate @articles %>
	</ul>
</nav> 
