
<div class="row">
	<% if admin_signed_in? %>
		<div class="col-md-2 offset-md-1">
			<%= link_to "Approve posts", admin_articles_path, :class => "btn btn-primary" %> 
		</div>	
	<% end %>
</div>
<div class = "row">	
	<div class="col-md-2 offset-md-10">
		<%= link_to "+ Add Post", new_article_path, :class => "btn btn-primary" %>
	</div>
</div>
<div class="company-list">
	<table class="table table-hover">
		<thead class="table-headers">
			<th> <%= link_to("Company", articles_path(query: "company"))%> </th>
			<th> <%= link_to("Industry", articles_path(query: "industy"))%> </th>
			<th> <%= link_to("Location", articles_path(query: "location"))%> </th>
			<th> <%= link_to("Salary", articles_path(query: "salary"))%> </th>
			<th> <%= link_to("Upvotes", articles_path(query: "upvotes"))%> </th>
		</thead>
		<tbody>
			<% @articles.each do |a| %>
				<tr>
					<td class="articlecompany">
						<%= link_to "#{a.company}", article_path(a), :class => "articlecompany" %>
					</td>
					<td class="articleindustry">
						<%= a.industry_type %>
					</td>
					<td class="articlelocation">
						<%= a.city %>, <%= a.state %>
					</td>
					<td class="articlecompensation">
						<%= number_to_currency(a.compensation) %>
					</td>
					<td class="articleupvotes">
						<%= a.upvotes %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>
<nav aria-label="Pagination">
	<ul class="pagination justify-content-center"> 
		<%= will_paginate @articles %>
	</ul>
</nav> 
