

<div class="invisible">
<%= @articles = @arr[1] %>
<%= @most_active_user = @arr[0] %>
</div>

<div class = "most_active_user">
		<% if @most_active_user.show_profile %> 
		      Most active user is: <%= link_to "#{@most_active_user.displayname}", profile_path(@most_active_user) %>
      		<% else %>
	      	     Most active user is: <%= "#{@most_active_user.displayname}" %>
      		<% end %>

</div> 

<nav class="row">
	<ul class="col-md-2 offset-md-0">
		<button class="btn btn-primary">Filter></button>
		<!--%= link_to("Filter", articles_path, class: "btn btn-primary") %-->
		<ul>
			<li> <%= button_to "Commpany", articles_path, id: "company", remote: true %></li>
			<li> <%= button_to "Industry type", articles_path, id: "industry_type", remote: true %></li>
			<li> <%= button_to "Location", articles_path, id: "location", remote: true %></li>
			<li> <%= button_to "Salary", articles_path, id: "salary", remote: true %></li>
		</ul>
	</ul>
	<% if admin_signed_in? %>
		<ul class="col-md-2 offset-md-1">
			<%= link_to "Approve posts", admin_articles_path, :class => "btn btn-primary" %>
		</ul>
		<ul class="col-md-2 offset-md-3">
			<%= link_to "Look at feedbacks", admin_feedbacks_path, :class=> "btn btn-primary" %>   	
		</ul>	
	<% end %>
	<% if user_signed_in? %>
		<ul class = "col-md-2 offset-md-4">
			<%= link_to "Submit feedback", feedbacks_path, :class => "btn btn-primary" %>
		</ul>
	<% end %>
	
	<% if user_signed_in? %>	
		<div class="col-md-2 offset-md-10">
			<%= link_to "+ Add Post", new_article_path, :class => "btn btn-primary" %>
		</div>
	<% end %>

</nav>

<div class="company-list">
	<%= render 'articles', articles: @articles %>
</div>

<nav aria-label="Pagination">
	<ul class="pagination"> 
		<%= will_paginate @articles %>
	</ul>
</nav> 


<!-- pop up windows for filters -->
<nav class = "filter">
<div class="salary_filter">
	<div class="salary_filter_content">
		<div class="close">+</div>
		Please fill in the range of salary you are looking for
		<%= form_with(id: :submit_salary, model: @articles, url: articles_path, data: { type: :html }) do |f| %>
			<div class="form-group">
				<%= f.label :compensation, "lower salary range:", class: "col-md-4 control-label" %>
				<div class="col-md-10">
					<%= f.number_field :compensation, step: 1, class: "form-control_low" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :compensation, "higher salary range:", class: "col-md-4 control-label" %>
				<div class="col-md-10">
					<%= f.number_field :compensation, step: 1, class: "form-control_high" %>
				</div>
			</div>
			
			<span style="margin-left: 30%">
				<%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
			</span>
		<% end %>
	</div>
</div>



<div class="company_filter">
	<div class="company_filter_content">
		<div class="close">+</div>
		Please select company
		<%= form_with(id: :submit_company, model: @articles, url: articles_path, data: { type: :html }) do |f| %>
			<div class="form-group">
				<%= f.label :company, "Company:", class: "col-md-4 control-label" %>
				<div class="col-md-10">
					<% if @select_company %>
						<%= f.select :company, options_for_select(@select_company), {:prompt => "Select company"}, {class: "form-control"}%>
					<% else %>
						<%= f.select :company, options_for_select([]), {:prompt => "Select company"}, {class: "form-control_empty"}%>
					<% end %>
				</div>
			</div>
			
			<span style="margin-left: 30%">
				<%= f.submit "Submit", class: "btn btn-default btn-primary"%>  
			</span>
		<% end %>
	</div>
</div>



<div class="industry_filter">
	<div class="industry_filter_content">
		<div class="close">+</div>
		Please select industry type
		<%= form_with(id: :submit_industry, model: @articles, url: articles_path, data: { type: :html }) do |f| %>
			<div class="form-group">
				<%= f.label :industry_type, "Industry Type:", class: "col-md-4 control-label" %>
				<div class="col-md-10">
					<% if @select_industry %>
						<%= f.select :industry_type, options_for_select(@select_industry), {:prompt => "Select industry"}, {class: "form-control"}%>
					<% else %>
						<%= f.select :industry_type, options_for_select([]), {:prompt => "Select industry"}, {class: "form-control_empty"}%>
					<% end %>
				</div>
			</div>
			
			<span style="margin-left: 30%">
				<%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
			</span>
		<% end %>
	</div>
</div>



<div class="location_filter">
	<div class="location_filter_content">
		<div class="close">+</div>
		Please select state and city
		<%= form_with(id: :submit_location, model: @articles, url: articles_path, data: { type: :html }) do |f| %>
			<div class="form-group">
				<%= f.label :state, "State:", class: "col-md-4 control-label" %>
				<div class="col-md-10">
					<% if @select_states %>
						<%= f.select :state, options_for_select(@select_states), {:prompt => "Select state"}, {class: "form-control_state"}%>
					<% else %>
						<%= f.select :state, options_for_select([]), {:prompt => "Select state"}, {class: "form-control_empty"}%>
					<% end %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :city, "City:", class: "col-md-4 control-label" %>
				<div class="col-md-10">
					<% if @select_city %>
						<%= f.select :city, options_for_select(@select_city), {:prompt => "Select city"}, {class: "form-control_city"}%>
					<% else %>
						<%= f.select :city, options_for_select([]), {:prompt => "Select city"}, {class: "form-control_empty"}%>
					<% end %>
				</div>
			</div>
			
			<span style="margin-left: 30%">
				<%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
			</span>
		<% end %>
	</div>
</div>
</nav>