<div class="row">
	<div class="col-md">
		<%= link_to "Back to main page", articles_path, :class => "back_button" %>
	</div>
</div>
<div class="container">

	<div class="row">
		<div class="col-md-1">
			<h2>Create new work experience</h2>
		</div>
	</div>
	<%= form_with model: @article, local: true, :class => "form-group" do |f| %>
		<div class="row">
			<div class="col-md-25">
				<%= f.label :company %>
			</div>
			<div class="col-md-25">
				<%= f.text_field :company %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-25">
				<%= f.label :industry_type %>
			</div>
			<div class="col-md-25">
				<%= f.text_field :industry_type %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-25">
				<%= f.label :city %>
			</div>
			<div class="col-md-25">
				<%= f.text_field :city %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-25">
				<%= f.label :state %>
			</div>
			<div class="col-md-25">
				<%= f.text_field :state %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-25">
				<%= f.label :compensation %>
			</div>
			<div class="col-md-25">
				<%= f.number_field :compensation, step: 0.01 %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-25">
				<%= f.label :interview_exp %>
			</div>
			<div class="col-md-75">
				<%= f.text_area :interview_exp %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-25">
				<%= f.label :work_exp %>
			</div>
			<div class="col-md-75">
				<%= f.text_area :work_exp %>
			</div>
		</div>
    <div class="row">
	    <div class="col-md-25">
		    <%= f.submit "Save", :class => "create_button" %>
	    </div>
    </div>
  <% end %>
</div>


