#fanyi and mingche
  <div class="row">
    <div class="col-md">
      <h3>Create new work experience</h3>
    </div>
  </div>
  <%= form_with model: @article, local: true, :class => "form-group" do |f| %>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :company %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :company %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :industry_type %>
      </div>
      <div class="col-md-4">
        <%= f.text_area :industry_type %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :city %>
      </div>
      <div class="col-md-4">
        <%= f.text_area :city %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :state %>
      </div>
      <div class="col-md-4">
        <%= f.text_area :state %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :compensation %>
      </div>
      <div class="col-md-2">
        <%= f.number_field :compensation %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :interview_exp %>
      </div>
      <div class="col-md-6">
        <%= f.text_area :interview_exp %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :work_exp %>
      </div>
      <div class="col-md-6">
        <%= f.text_area :work_exp %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :upvote %>
      </div>
      <div class="col-md-2">
        <%= f.number_field :upvote %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.submit "Create new work experience" %>
      </div>
    </div>
  <% end %>
