<div class="row">
    <div class="col-md">
      <h4 class="articlecompany">
        Edit My Profile 
      </h4>
    </div>
</div>
<!--Back to main page-->
<div class="text-right mr-4">
    <%= link_to articles_path, :class =>"text-decoration-none" do %>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back to main page
    <% end %>      
</div>
<div class="mr-4"> 
<%= form_with model: @user, local: true, :class => "form-horizontal center" do |f| %>
	<div class="form-group">
		<%= f.label :displayname, "Display Name:", class: "col-md-4 control-label" %>
		<div class="col-md-8">
			<%= f.text_field :displayname, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :description, "About Me:", class: "col-md-4 control-label" %>
		<div class="col-md-10">
			<%= f.text_field :description, class: "form-control" %>
		</div>
	</div>	
	<div class="form-group">
		<%= f.label :show_profile, "Show Profile?", class: "col-md-4 control-label" %>
		<div class="col-md-10">
		    <%= f.select :show_profile, options_for_select([["Yes", true], ["No", false]]), {:prompt => ""}, {class: "form-control"} %>
		</div>
	</div>	
	<!--Change to radio button for show_profile-->
	<!--Update profile photo -->
	<span style="margin-left: 30%">
		<%= f.submit "Save", class: "btn btn-default btn-primary" %>  
	</span>
<% end %>
</div>
